@import "./themes";

@each $theme in $theme-names {
  [data-role=app] {
    &.#{ $theme } {
      background-color: map-get($theme-map, "themes-#{ $theme }-1");

      .app-title {
        background-color: map-get($theme-map, "themes-#{ $theme }-2");
      }

      .menu-bar {
        background-color: map-get($theme-map, "themes-#{ $theme }-3");
      }
    }
  }

  .#{ $theme }-theme-swatch {
    background-color: map-get($theme-map, "themes-#{ $theme }-1");
    border-color: map-get($theme-map, "themes-#{ $theme }-2");
    color: map-get($theme-map, "themes-#{ $theme }-accent");

/*  TODO: Maybe hover state should use a subtle flashing/pulsing animation?
    &:hover {
      background-color: lighten(map-get($theme-map, "themes-#{ $theme }-1"), 10%);
      border-color: lighten(map-get($theme-map, "themes-#{ $theme }-2"), 10%);
      color: lighten(map-get($theme-map, "themes-#{ $theme }-accent"), 10%);
    }
*/

    &:active, &:focus {
      background-color: map-get($theme-map, "themes-#{ $theme }-2");
      border-color: map-get($theme-map, "themes-#{ $theme }-3");
      color: map-get($theme-map, "themes-#{ $theme }-accent-2");
    }
  }
}

[data-role=app] {

  height: 100%;

  .app-title {
    margin: 0;
    padding: 10px;
  }

  .app-title-container {
    &:hover .menu-bar {
      display: block;
    }
  }

  .menu-bar {
    text-align: center;
    display: none;

    &:hover {
      display: block;
    }
  }

  .menu-item-link {
    display: inline;
    margin: 0 0.5em;
  }

  .menu-item-content {
    display: none;
  }

  transition: 1s;
  -webkit-transition: 1s;

}

.theme-swatch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme-swatch {
  height: 6em;
  width: 6em;
  margin: 2em;

  border-width: 1em;
  border-style: outset;
  cursor: pointer;
}

div.centered {
  margin: 0 auto;
}

[data-role=game-window] {
  width: 80%;
  height: 80%;
}
