@import "./themes";

body {
  @each $theme in $theme-names {
    &.#{ $theme } {
      background-color: map-get($theme-map, "themes-#{ $theme }-1");

      .app-title {
        background-color: map-get($theme-map, "themes-#{ $theme }-2");
      }
    }
  }

  .app-title {
    margin-top: 0;
    padding: 10px;
  }

}


div.centered {
  margin: 0 auto;
}

[data-role=game-window] {
  width: 80%;
  height: 80%;
}
