@import "./themes";

body {
  @each $theme in $theme-names {
    &.#{ $theme } {
      background-color: map-get($theme-map, "themes-#{ $theme }-1");

      .app-title {
        background-color: map-get($theme-map, "themes-#{ $theme }-2");
      }

      .menu-bar {
        background-color: map-get($theme-map, "themes-#{ $theme }-3");
      }

      .#{ $theme }-theme-swatch {
        background-color: map-get($theme-map, "themes-#{ $theme }-1");
        border-color: map-get($theme-map, "themes-#{ $theme }-2");
        color: map-get($theme-map, "themes-#{ $theme }-accent");
      }
    }
  }

  .app-title {
    margin: 0;
    padding: 10px;
  }

  .app-title-container {
    &:hover .menu-bar {
      display: block;
    }
  }

  .menu-bar {
    text-align: center;
    display: none;

    &:hover {
      display: block;
    }
  }

  .menu-item-link {
    display: inline;
    margin: 0 0.5em;
  }

  .menu-item-content {
    display: none;
  }

  transition: 1s;
  -webkit-transition: 1s;

}

.theme-swatch {
  height: 50px;
  width: 50px;
  border: 0.5em ridged;
}

div.centered {
  margin: 0 auto;
}

[data-role=game-window] {
  width: 80%;
  height: 80%;
}
