@import "./colors";

body, div, span, h1, h2, h3, p {
  color: $smoke;
}

h1, h2, h3, p {
  &.centered {
    text-align: center;
  }
}

a {
  color: $pale_pink;

  &, &:visited {
    transition: 1s;
    -webkit-transition: 1s;
  }

  &[data-active], &:hover {
    color: $white;
  }
}
