@import "./themes";

body {
  @each $theme in $theme-names {
    &.#{ $theme } {
      div, span, h1, h2, h3, p {
        color: #eee;
      }

      .app-title, .menu-item-link, a {
        color: map-get($theme-map, "themes-#{ $theme }-accent");

        transition: color 1s ease;
        -webkit-transition: color 1s ease;

        &[data-active], &:hover {
          color: map-get($theme-map, "themes-#{ $theme }-accent-2");
          /*color: adjust-hue(lighten(map-get($theme-map, "themes-#{ $theme }-accent"), 10%), 15deg);*/
        }
      }

    }
  }

  a {
    font-weight: bold;

    &:hover, &:active, &:focus {
      text-decoration: none;
    }
  }

  h1, h2, h3 {
    font-family: cursive;
  }

  p {
    font-family: fantasy;
  }

  h1, h2, h3, p {
    &.centered {
      text-align: center;
    }
  }
}
